$fontSizeBasis: 1rem;

$cartItemMinWidth: 360px;
$cartItemMaxWidth: 650px;
$cartItemMinHeight: 188px;
$cartItemMaxHeight: 306px;

$orderTotalMinHeight: 215px;

$buttonCloseMargin: 0.5rem;

$color000000: #000000;
$color222222: #222222;
$color777777: #777777;
$color575757: #575757;
$colorA4A4A4: #A4A4A4;
$colorB1B1B1: #B1B1B1;
$colorE2E2E2: #E2E2E2;
$colorF5F3F3: #F5F3F3;
$colorF16D7F: #F16D7F;
$colorFFFFFF: #FFFFFF;
